@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
body{
    background-color:cadetblue;
}
h1{
    font-family:"Winky Sans", sans-serif; ;
}
.button{
    padding: 20px;
    margin: 0 3px;
    width: 55px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    background-color: antiquewhite;
    font-size: 20px;
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 20px;
    margin: 0px;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 6px;
    background-color: antiquewhite;
}
.container{
    border: 5px solid black;
    background-color:rgb(17, 59, 59) ;
    border-radius: 10px;
    width: 300px;

}